<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <style>
    li {
      font-size: large;
      font-family: 'serif';
    }
  </style>
</head>
<body>
    <h1>Welcome to {{name}}!</h1>
    <ol>
        <li><a href='/city/{{name}}/pieplot_restaurant_categories'>Pieplot of restaurant by categories</a></li>
        <li><a href='/city/{{name}}/barplot_avgprice_each_category'>Barplot of average price by category</a></li>
        <li><a href='/city/{{name}}/barplot_avgrating_each_category'>Barplot of average rating by category</a></li>
        <li><a href='/city/{{name}}/barplot_avgreview_each_category'>Barplot of average number of reviews by category</a></li>
        <li><a href='/city/{{name}}/barplot_toprated_restaurant'>Barplot of restaurants by rating</a></li>
        <li><a href='/city/{{name}}/barplot_topprice_restaurant'>Barplot of restaurants by price</a></li>
        <li><a href='/city/{{name}}/barplot_mostreviewed_restaurant'>Barplot of restaurants by number of reviews</a></li>
    </ol>
</body>
</html>