<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <style>
    table, th, td {
      border: 1px solid black;
      font-size: medium;
      font-family: 'Times New Roman';
    }
    </style>
</head>
<body>
    <h1><b>Please click the links below for more information!</b></h1>
    <h3>Top US cities ranked by <a href="/population">population</a>: </h3>
    <table align="left">
        <tr>
            <th><b>Rank</b></th>
            <th><b>City (<a href="/compare/city">compare</a>)</b></th>
            <th><b>State (<a href="/compare/state">compare</a>)</b></th>
            <th><b>Population</b></th>
        </tr>
        {% for id, temp in city_dict.items() %}
        <tr>
            <td width="50px" align="center">{{id}}</td>
            <td width="250px" align="center"><a href="/city/{{temp[0]}}">{{temp[0]}}</a></td>
            <td width="250px" align="center"><a href="/state/{{temp[1]}}">{{temp[1]}}</a></td>
            <td width="250px" align="center">{{temp[2]}}</td>
        </tr>    
        {% endfor %}
    </table>
</body>
</html>